body {
  overflow: hidden;
  margin: 0;
  background-color: #ffaacc;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}

#ytPlayer {
  position: absolute;
  top: -9999px; /* Ẩn trình phát video đi để chỉ nghe nhạc */
  left: -9999px;
}
